@import "root.css";

body{
    background-color: var(--slate-gray);
    margin: 0;
    overflow: hidden;
    
}

.header {
    display: grid;
    grid-template-columns: 50% 20% 15% 15%;
}

.header > button {
    height: 64px;
    background-color: #333;
    color: var(--light-gray);
}

.container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 64px);
}

#searchBar {
    width: 60vw;
    border: solid var(--light-gray) 1px;
    height: 15%;
    font-family: fantasy;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#results {
    width: 60vw;
    border: solid var(--light-gray) 1px;
    height: 75%;
}
header > button {
    font-family: fantasy;
    font-size: 1.5rem;
}

#title {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 20px;
    font-family: fantasy;
    font-size: 2rem;
}

